html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
article,
details {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 7rem;
  line-height: 0.9;
  font-weight: 800;
  margin-bottom: 2vh;

}

h2 {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 18vh;
}

h3 {
  font-size: 2rem;
  color: #282c34;
  font-weight: 700;
  margin: 2vh auto;
}

a.butAw {
  text-decoration: none;
  padding: 3.5vh 2vw;
  background-color: white;
  border-radius: 4px;
  font-weight: 600;
  color: #282c34;
}


.App {
  text-align: center;
  margin: 2vh 2vw;
  height: 100vh;
}

.topsection {
  background-color: #282c34;
  text-align: left;
  padding: 5vh 5vw;
}

.text-intro {
  width: 40vw;
}


.menu ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 1vw;
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -5vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.image-bkg {
  background-image: url("/src/images/logo512.png");
  z-index: 1;
}

*/

.image-bkg {
  margin-right: 0px;
  width: 31vw;
}


img.biggestlogo {
  width: 70%;
    opacity: 5%;

}

img.biglogo {
    width: 55%;
    opacity: 5%;
}
.image-skg {
  margin-right: -10vw;
  flex-direction: column;
  display: flex;
  right: 0;
  right: -10;
  margin-left: 10vw;
}

img.smalllogo {
  margin: 2vh auto;
  opacity: 10%;
} 

.bottom-st {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} 

.bottomsection {
  padding: 2vh 5vw 15vh;
  margin: 15vh auto 
}

.blurb {
  width: 13vw;
}

.blurb p{
  font-size: 1.4rem;
  color: #282c34;
}

.right {
  float: right;
}

.left {
  float: left;
}